
body{text-justify: auto;
    background-image: url(4229368950_80f25a19b2_z.JPG);
    background-color: gray;
} 
h1{color:rgb(255, 255, 255);  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-style: i
    ; padding: 10px;     text-align: center;} h2{color:red; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-style: italic; 
        margin-right: 100px; margin-left: 100px; padding: 10px;} 
        date{color:white; font-size: 5; background-color: cadetblue; 
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}  
p{color: blue; font-weight: 10; text-align: justify; width: 300px; padding: 10px; margin-right: 100px; margin-left: 100px;}  
.projects{
    color: rgb(252, 252, 252); 
    padding: 10px;         
    text-align: justify;         
    float:left;         
    width:50%;        
     padding:0px;         
     box-sizing:border-box;    
    }    
   
            
      button{  
    position: relative;;                 
    color: rgb(255, 255, 255);                 
     font-size: 20px;                
      background:rgb(136, 106, 76);                 
      border: none;                
       outline: none;                 
       left: 0%;                
        width: 260px;                
         text-align: left;   
        }            
          #sidebar{                 
              text-align:right;                 
              float:right;                
               width:50%;                                  
               background:none;                 
               color:#fff; 
    padding:0px;                
     box-sizing:border-box;             
    }  
.dev1{     
    fill:rgb(190, 13, 13);  } 
    .dev2{    
 fill:black;      } 
 .removed{ 
     display: none; 
    }
    .btn{
        color: rgb(255, 255, 255)
        
    }
    